@import 'tailwindcss';

@config './tailwind.config.js';

@theme {
  --font-sans: "Lucida Console", monospace;
}

@plugin "daisyui" {
  prefix: "ds-";
  logs: false;
}

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  prefersdark: false;
  --color-primary: #0070ff;
  --color-warning: #ff8800;
}

@plugin "daisyui/theme" {
  name: "business";
  default: false;
  prefersdark: true;
  --color-primary: #78b4fe;
  --color-warning: #ff7700;
}
